<%- include('../partials/header'); %>

<div id="alert" class="container">
</div>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Insert details of New Semester</h1>
        <div style="width: 30%; margin: 25px auto">
            <form id="form" action="/semesters" method="POST">
                <div class="form-inline form-group" style="display: flex; justify-content: space-between;">
                    <label for="semester" style="width:30%; font-size: x-large;">Semester</label>
                    <input class="form-control" type="number" name="semester" placeholder="1" style="width:15%" required onkeydown="validateSemester(this)">
                </div>
                <div class="form-inline form-group" style="display: flex; justify-content: space-between;">
                    <label style="width:30%; font-size: x-large; text-align: center;" >Subject</label>
                    <label style="width:30%; font-size: x-large; text-align: right;">Score</label>
                    <input class="deleteButton btn btn-xs btn-danger" type="button" value="Delete" style="visibility: hidden;" disabled>
                </div>
                <div class="form-inline form-group" style="display: flex; justify-content: space-between;">
                    <input class="form-control" type="text" name="subject" placeholder="Subject Name" required onkeydown="upperCaseF(this)" style="width:40% " onkeyup="checkTextInputsValue()">
                    <input class="form-control" type="number" name="subject_score" placeholder="80" style="width:17%" required onkeydown="validateScore(this)">   
                    <input class="deleteButton btn btn-xs btn-danger" type="button" value="Delete" style="visibility: hidden;" disabled> 
                </div>
                <div class="form-inline form-group" style="display: flex; justify-content: space-between;">
                    <input class="form-control" type="text" name="subject" placeholder="Subject Name" required onkeydown="upperCaseF(this)" style="width:40%" onkeyup="checkTextInputsValue()" >
                    <input class="form-control" type="number" name="subject_score" placeholder="80" style="width:17%"  required onkeydown="validateScore(this)" >   
                    <input class="deleteButton btn btn-xs btn-danger" type="button" value="Delete" style="visibility: hidden;" disabled> 
                </div>
                <div class="addButton form-group" >
					<input class="btn btn-success btn-sm btn-block" type="button" value="Add subject">
                </div>
                <div class="form-group">
                    <button id="button" class="btn btn-lg btn-default btn-primary btn-block">Submit</button>
                </div>    
            </form>
            <a href="/semesters" >Go Back</a> 
        </div>
        
        
               
    </div>
</div>

<script>

    var isSubjectAlphanumeric = false;
    var scoreValidated = false;
    var isSemesterValid = false;
    var isInputUnique = false;

    $("form").on("click", ".addButton", function(event){
        $(".addButton").before("<div class=\"form-inline form-group\" style=\"display: flex; justify-content: space-between;\">");
        $(".addButton").prev().append("<input class=\"form-control\" type=\"text\" name=\"subject\" placeholder=\"Subject Name\" required onkeydown=\"upperCaseF(this)\" onkeyup=\"checkTextInputsValue()\" style=\"width:40%\" >" );
        $(".addButton").prev().append("<input class=\"form-control\" type=\"number\" name=\"subject_score\" placeholder=\"80\" style=\"width:17%\"  required onkeydown=\"validateScore(this)\">");
        $(".addButton").prev().append("<input class=\"deleteButton btn btn-xs btn-danger\" type=\"button\" value=\"Delete\" >");
    });

    //Convert subject name to uppercase
    function upperCaseF(a){
   		setTimeout(function(){
            var letters = /^[A-Za-z0-9]+$/;
            if(!a.value.match(letters) && a.value !== ""){
                $("#subject_name_error").remove();
                $("#alert").append("<div id=\"subject_name_error\" class=\"alert alert-danger\" role=\"alert\">Subject name must contain alphanumeric characters only</div>");
                isSubjectAlphanumeric = false;
            }
            else{
                isSubjectAlphanumeric = true;
                $("#subject_name_error").remove();
                a.value = a.value.toUpperCase();
            } 
            enableSubmit();
    	}, 1);
       }

    //Check if the score is between range 0 to 100
    function validateScore(score){
        setTimeout(function(){
            if((score.value<0 || score.value> 100) ){
                scoreValidated = false;
                $("#error").remove();
                $("#alert").append("<div id=\"error\" class=\"alert alert-danger\" role=\"alert\">Score should be in the range 0-100</div>");
            }
            else{
                scoreValidated = true;
                $("#error").remove();
            }
            enableSubmit();
        },1);
    }


    //Check if the semester > 0
    function validateSemester(semester){
        setTimeout(function(){
            if( (semester.value<=0 || semester.value=="-") && semester.value!='' ){
                isSemesterValid = false;
                $("#semester_error").remove();
                $("#alert").append("<div id=\"semester_error\" class=\"alert alert-danger\" role=\"alert\">Semester must be greater than 0");
            }
            else{
                isSemesterValid = true;
                $("#semester_error").remove();
            }
            enableSubmit();
        },1);

    }

    //check if the values of text input is same or not
    function checkTextInputsValue(){
        setTimeout(function(){
            var tempObject = {};
            var list = $("#form :input[type='text']");

            list.each(function(e){
                if($(this)[0].value !== ""){
                    tempObject[$(this)[0].value] = (tempObject[$(this)[0].value] || 0) + 1;
                    if(tempObject[$(this)[0].value]>1){
                        isInputUnique = false;
                        $("#subject_error").remove();
                        $("#alert").append("<div id=\"subject_error\" class=\"alert alert-danger\" role=\"alert\">Subject Name must be Unique");
                    }
                    else{
                        isInputUnique = true;
                        $("#subject_error").remove();
                    }
                }
            });
            enableSubmit()

        },1);

    };

    function enableSubmit(){
        setTimeout(()=>{
            if(isSubjectAlphanumeric && scoreValidated && isSemesterValid && isInputUnique)
                $("#button").prop("disabled", false);
            else
                $("#button").prop("disabled", true);

        },1);
    }

    //button to delete the subject entry
    $("form").on("click", ".deleteButton", function(event){
   		$(this).parent().remove();
   		event.stopPropagation();
   	});
</script>


<%- include('../partials/footer'); %>
